@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: cmyk --default, dim --prefersdark;
}

/* Configuración básica (opcional, pero recomendada) */
@theme {
  /* Aquí puedes sobreescribir variables si quieres */
  --font-sans: "Inter", sans-serif; 
}

body {    
  @apply bg-base-200 min-h-screen transition-colors duration-300;
  /* @apply bg-base-200 min-h-screen transition-colors duration-300;
  background-color: var(--color-base-400); */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
